<%- include("partials/header.ejs") %>

<h1>This is dashboard Page</h1>

<a href="/cases/<%=currentUser._id%>/new" class="btn btn-primary">New Case</a>

<a href="/cases/<%=currentUser._id%>" class="btn btn-primary">Show Cases</a>

<%- include("partials/footer.ejs") %>