<%- include("partials/header.ejs") %>

<h1>This is dashboard Page</h1>

<a href="/cases/new" class="btn btn-primary">New Case</a>

<a href="/cases" class="btn btn-primary">Show Cases</a>

<%- include("partials/footer.ejs") %>
