<%- include("partials/header.ejs") %>

<div class="cent">
  <div class="container bodys">
    <p class="pagehead">Getting Started</p>
    <p class="m-5" style="text-align: left;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis,
      lacus et eleifend consectetur, est augue porta mauris, sed cursus purus
      neque id leo. Sed dui ligula, interdum vitae laoreet a, sodales non ante.
      Morbi feugiat odio vitae orci sollicitudin, sed iaculis ipsum efficitur.
      Maecenas vitae orci velit. Suspendisse a sem in enim vehicula consectetur
      eu in neque. Donec a nulla mattis, pulvinar ipsum eu, laoreet dolor. Etiam
      pulvinar, magna vel tempus mollis, nibh sem lobortis ex, at venenatis urna
      dui et arcu. Cras ut justo ac elit tincidunt vulputate pharetra at nulla.
      Aenean eget tortor velit. Maecenas eu erat arcu. Ut ut feugiat ligula.
      Morbi consectetur leo non ipsum dignissim tincidunt. Pellentesque
      ultricies ante turpis, id consequat metus consectetur sed. Quisque eget
      aliquet sapien. Praesent pretium, enim a sagittis elementum, tortor augue
      sodales felis, eu volutpat orci felis et justo. Mauris tincidunt metus eu
      gravida varius. Cras quis turpis porta massa interdum condimentum varius
      quis dolor. Fusce purus diam, pharetra vel consequat quis, fringilla ut
      turpis. Proin molestie fermentum turpis, vel tristique dolor porttitor
      quis. Nam interdum diam eu nisi maximus volutpat. Cras fringilla feugiat
      nisl, eget ultrices sem auctor id. Mauris lectus odio, tempus et finibus
      et, pretium id leo. Donec vehicula tellus nec tincidunt vulputate. In hac
      habitasse platea dictumst. Phasellus ut fringilla tortor. Quisque eros
      velit, pharetra in bibendum a, vehicula sed dui. Duis accumsan justo ac
      sollicitudin vulputate. Nunc faucibus dapibus orci, sit amet facilisis
      felis pretium vitae. Aliquam blandit vel magna a faucibus. Fusce sit amet
      dui sed libero lacinia facilisis efficitur a mi. Nam tempus egestas justo
      vitae imperdiet. Mauris pulvinar risus et bibendum porta. Vestibulum erat
      quam, imperdiet in ligula vitae, congue ultricies nibh. Vivamus leo leo,
      aliquet sed venenatis id, vehicula id eros. Donec hendrerit aliquam tellus
      at finibus. Quisque laoreet ullamcorper lacus, quis pulvinar neque aliquet
      quis. Vivamus eu lacus nec nisl vehicula maximus eget a odio. Donec varius
      mollis nibh ac fringilla. Phasellus laoreet ultrices nibh, sit amet
      viverra augue venenatis sed. Fusce iaculis quam eget nibh vehicula cursus.
      Nullam tellus urna, fermentum ac neque ut, mattis lacinia urna. Nam
      faucibus magna sagittis quam euismod interdum. Aenean et lectus ac sem
      consectetur maximus. Sed et consequat nibh. Aliquam convallis varius felis
      eget tempus. Cras dignissim rhoncus enim, eget hendrerit magna lobortis
      vitae. Donec vitae fringilla neque. Maecenas eu aliquam arcu. Integer
      fermentum condimentum egestas. Vivamus congue elit lacus, vitae maximus
      augue suscipit sed. Morbi facilisis semper tellus vel scelerisque.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia Curae; Nullam vitae magna ac lectus auctor consectetur eu eu leo.
      Pellentesque vulputate sagittis euismod. Fusce euismod, arcu eget
      malesuada iaculis, arcu dui bibendum augue, quis vulputate lorem lacus nec
      lacus. In id turpis aliquam, vestibulum tellus nec, condimentum arcu.
      Donec risus eros, viverra nec dapibus id, efficitur nec turpis. Vestibulum
      faucibus facilisis viverra. Curabitur in maximus massa, vel semper odio.
    </p>
  </div>
</div>

<%- include("partials/footer.ejs") %>
