<%- include("partials/header.ejs") %>

<div class="container jumbotron align-self-center pb-5" id="main">
  <h1>Court Case Management System</h1>
  <p class="lead container" style="width: 80%;">
    A web based application which will provide all essential functionalities
    regarding court case management and integrate lawyers as well as their
    clients on the same platform. It will provide complete case related
    information and help them to track status as well as hearing dates of cases.
  </p>
  <hr class="my-2" />
  <div id="but">
    <a class="btn btn-outline-dark mr-4 mt-3" href="/login">LogIn</a>
    <a class="btn btn-outline-dark ml-4 mt-3" href="/signup">SignUp</a>
  </div>
</div>

<%- include("partials/footer.ejs") %>
