<%- include("partials/header.ejs") %>

<div class="container jumbotron align-self-center pb-5" id="main">
  <h1>Court Case Management System</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <div id="but">
    <a class="btn btn-success btn-lg mr-5 mt-3" href="/login">LogIn</a>
    <a class="btn btn-success btn-lg ml-5 mt-3" href="/signup">SignUp</a>
  </div>
</div>

<%- include("partials/footer.ejs") %>
