<%- include("../partials/header.ejs") %>

<div class="cent">
  <div class="container boxes">
    <h2 class="mt-3" style="text-align: center;">Create New Invoice</h2>
    <form action="/invoices/<%=cli._id%>" method="POST" class="mt-5">
      <div class="form-group">
        <label>Client Name</label>
        <input
          type="text"
          readonly
          class="form-control"
          name="inv[cname]"
          value="<%=cli.name%>"
          required
        />
      </div>
      <div class="form-group">
        <label>Amount</label>
        <input type="number" class="form-control" name="inv[amount]" required />
      </div>
      <div class="form-group">
        <label>Due Date</label>
        <input type="date" class="form-control" name="inv[duedate]" required />
      </div>
      <button class="btn btn-outline-dark mt-2">Submit</button>
    </form>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
